.dnd-wrapper {
  display: flex;
  width: 1000px;
  height: 800px;
}

.dnd-area {
  flex-direction: column;
  width: 100%;
  border: solid 2px;
}

.draggable-item {
  padding: 10px;
  margin: 5px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: grab;
}

.draggable-item:active {
  cursor: grabbing;
}
